input[type='text'],[type='number']{
    background-color: rgba(90, 90, 90, 1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 12pt;
    width: 5em;
    border-radius: 5px;
}

label, p {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

#btnAggiungi, #btnRimuovi{
    background-color: rgba(90, 90, 90, 1);
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}